.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  padding: 1rem 2rem;
  box-sizing: border-box;
  align-items: center;
  top: 0;
  left: 0;
  height: 8rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-100%);
  color: var(--color-background);
}

.scrolled {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-light);
  color: var(--color-text);
  transform: translateY(0);
}

.header a {
  color: inherit;
  height: 100%;
  align-content: center;
}

.logo {
  height: 100%;
  font-size: var(--font-size-large);
  align-content: center;
}

.header nav {
  height: 100%;
  font-weight: 500;
  font-size: var(--font-size-large);
  flex: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: 5rem;
}

.header > nav > a {
  padding: 0 5rem;
}
