.aboutTopContainer {
  height: 100dvh;
  width: 100%;
  position: relative;
}

.aboutTopContainer article {
  position: absolute;
  top: 45%;
  left: 10%;
  right: 10%;
  color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

@media screen and (max-width: 1024px) {
  .aboutTopContainer article {
    left: 5%;
    right: 5%;
  }
}
