html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-pretendard);
  font-size: var(--font-size-base);
  position: relative;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-muted);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

:root {
  /* font-size */
  --font-size-xxxxlarge: 4.8rem;
  --font-size-xxxlarge: 4rem;
  --font-size-xxlarge: 3.2rem;
  --font-size-xlarge: 2.4rem;
  --font-size-large: 2rem;
  --font-size-base: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-xsmall: 1.2rem;

  /* color */
  --color-primary: #0070f3;
  --color-secondary: #1c1c1e;
  --color-background: #f8f9fa;
  --color-text: #333;
  --color-muted: #888;
  --color-link: #0070f3;
  --color-link-hover: #005bb5;
  --color-border: #e0e0e0;

  /* spacing */
  --spacing-small: 0.8rem;
  --spacing-base: 1.6rem;
  --spacing-large: 2.4rem;
  --spacing-xlarge: 3.2rem;

  /* padding */
  --padding-small: 0.8rem;
  --padding-base: 1.6rem;
  --padding-large: 2.4rem;
  --padding-xlarge: 3.2rem;

  /* margin */
  --margin-small: 0.8rem;
  --margin-base: 1.6rem;
  --margin-large: 2.4rem;
  --margin-xlarge: 3.2rem;

  /* shadow */
  --box-shadow-light: 0 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 8px 12px rgba(0, 0, 0, 0.2);

  /* line-height */
  --line-height-base: 2;
  --line-height-tight: 1.6;
  --line-height-loose: 2.4;

  /* border-radius */
  --border-radius-small: 4px;
  --border-radius-base: 8px;
  --border-radius-large: 16px;

  /* screen */
  --screen-medium: 768px;
  --screen-small: 480px;
}

h1 {
  font-size: var(--font-size-xxxlarge);
}

h2 {
  font-size: var(--font-size-xxlarge);
}

h3 {
  font-size: var(--font-size-xlarge);
  line-height: 2;
}

p {
  font-size: var(--font-size-large);
}

strong {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: var(--font-size-xxlarge);
  }

  h2 {
    font-size: var(--font-size-xlarge);
  }

  h3 {
    font-size: var(--font-size-large);
  }

  p {
    font-size: var(--font-size-base);
  }
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: var(--font-size-large);
  }

  h2 {
    font-size: var(--font-size-base);
  }

  h3 {
    font-size: var(--font-size-small);
  }

  p {
    font-size: var(--font-size-xsmall);
  }
}
