.IncomparableContainer {
  position: relative;
  height: 100%;
  padding: 0 10%;
  padding-top: 10rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.IncomparableContainer a {
  border-radius: 80px;
  padding: 2rem 10rem;
  background-color: #ffffff00;
  width: fit-content;
  font-weight: 700;
  color: var(--color-secondary);
  font-size: 2rem;
  border: 2px solid var(--color-border);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.IncomparableContainer a:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .prideContainer {
    padding: 0 5%;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .IncomparableContainer a {
    padding: 1.5rem 5rem;
  }
}
