.IncomparableContainer {
  position: relative;
  height: 100%;
  padding: 10rem 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.IncomparableContainer a {
  border-radius: 80px;
  padding: 2rem 10rem;
  background-color: #ffffff00;
  width: fit-content;
  font-weight: 700;
  color: var(--color-secondary);
  font-size: 2rem;
  border: 2px solid var(--color-border);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.IncomparableContainer a:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}
