.prideContainer {
  position: relative;
  height: 100%;
  padding: 0 10%;
  padding-top: 15rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.prideContainer h2 {
  text-align: center;
}

.prideGride {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.prideGride article {
  display: flex;
  flex-direction: column;
  position: relative;
}

.prideGride div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5%;
}

.prideGride h2 {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .prideContainer {
    padding: 0 5%;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .prideGride {
    grid-template-columns: repeat(1, 1fr);
  }

  .prideGride div {
    gap: 2rem;
  }
}
