.rangeContainer {
  position: relative;
  height: 100%;
  padding: 0 10%;
  padding-top: 15rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.rangeContainer h2 {
  text-align: center;
}

.rangeGride {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.rangeGride article {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rangeGride div {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5%;
}

.rangeGride h2 {
  text-align: center;
}

.rangeGride ul {
  line-height: 1.7;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .rangeContainer {
    padding: 0 5%;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .rangeGride {
    grid-template-columns: repeat(1, 1fr);
  }

  .rangeGride div {
    gap: 2rem;
  }
}
