.videoPlaceholder {
  height: 100vh;
  width: 100%;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.videoDetail {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  color: var(--color-background);

  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.videoDetail h2 {
  line-height: 2;
}

.videoDetail h1 {
  font-weight: 700;
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  .videoDetail {
    left: 5%;
    right: 5%;
  }
}
