.clientContainer {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 2;
  background-color: var(--color-background);
}

.clientContainer h2 {
  font-weight: 700;
  font-size: var(--font-size-xxxlarge);
}

.clientContainer h3 {
  font-weight: 700;
  font-size: var(--font-size-xlarge);
}

.clientContainer p {
  line-height: 2;
}

@media screen and (max-width: 1024px) {
  .clientContainer {
    padding: 0 5%;
  }
}
