.footer {
  padding: 5rem 10%;
  background-color: var(--color-background);
  width: 100%;
  box-sizing: border-box;
  color: var(--color-muted);
}

.footer hr {
  margin: 4rem 0;
}

.footer address {
  font-style: normal;
  font-size: var(--font-size-small);
}

.footer p {
  line-height: var(--line-height-base);
  font-size: var(--font-size-base);
}

.footer section {
  display: flex;
}

.footer div {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .footer section {
    flex-direction: column;
    gap: 3rem;
  }

  .footer div {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
