.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  top: 0;
  left: 0;
  height: 10rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: var(--color-background);
  padding: 0 10%;
}

.scrolled {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-light);
  color: var(--color-text);
}

.header a {
  color: inherit;
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  height: 10rem;
  width: 15rem;
}

.menu {
  display: none;
}

.header nav {
  height: 100%;
  font-weight: 600;
  flex: 1;
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
}

.mobileBackground {
  display: none;
  top: 7rem;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  z-index: 3;
}

.mobileBackground.open {
  display: none;
}

.mobileBackground li {
  padding: 2rem 3rem;
  border-bottom: 1px solid #e0e0e0;
}

.mobileBackground a {
  color: black;
}

@media screen and (max-width: 1024px) {
  .header.open {
    background-color: var(--color-background);
  }

  .mobileBackground {
    display: none;
  }

  .mobileBackground.open {
    display: block;
  }

  .header {
    padding: 0 5%;
    height: 7rem;
    transition: none;
  }

  .header nav a {
    display: none;
  }

  .menu {
    display: block;
  }

  .logo {
    height: 10rem;
    width: 10rem;
  }
}
