.header {
  position: fixed;
  z-index: 10;
  width: 100vw;
  display: flex;
  padding: 1rem 2rem;
  box-sizing: border-box;
  align-items: center;
  top: 0;
  left: 0;
  height: 8rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-100%);
  color: var(--color-background);
  gap: 2rem;
}

.scrolled {
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-light);
  color: var(--color-text);
  transform: translateY(0);
}

.header a {
  color: inherit;
  height: 100%;
  align-content: center;
}

.logo {
  height: 100%;
  font-size: var(--font-size-large);
  align-content: center;
}

.header nav {
  height: 100%;
  font-weight: 500;
  font-size: var(--font-size-large);
  flex: 1;
  justify-content: flex-end;
  display: flex;
  margin-right: 5rem;
  gap: 1rem;
}

.header > nav > a {
  color: var(--color-primary);
  padding: 0 5rem;
}

.header > nav > a:hover {
  background-color: var(--color-muted);
  border-radius: var(--border-radius-small);
  color: white;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    height: auto;
    background-color: var(--color-background);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: var(--box-shadow-light);
  }

  .header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
  }

  .header > nav > a {
    flex: 1;
    text-align: center;
    font-size: var(--font-size-base);
    padding: 1.5rem 0;
    color: var(--color-primary);
  }
}
