.introduceContainer {
  padding: 10rem 10%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.introudeceText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.employeePhoto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  justify-items: center;
}

.employeePhoto div {
  width: 100%;
  height: 100%;
}
.employeePhoto p {
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .introduceContainer {
    padding: 10rem 5%;
  }
}

@media screen and (max-width: 486px) {
  .employeePhoto {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
