.introContainer {
  display: flex;
  padding: 0 10%;
}

.introLeft {
  width: 40%;
  position: sticky;
  height: fit-content;
  top: 12rem;
  flex: 1;
}

.introLeft p {
  font-size: var(--font-size-xxlarge);
  font-weight: 700;
  line-height: var(--line-height-base);
}

.introRight {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.introDetail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.introRight h2 {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-loose);
  font-weight: 700;
}

.introRight h3 {
  line-height: 1.5;
}

.introRight a {
  width: fit-content;
}

@media screen and (max-width: 1024px) {
  .introContainer {
    padding: 0 5%;
  }
}

@media screen and (max-width: 768px) {
  .introContainer {
    flex-direction: column;
    gap: 5rem;
  }

  .introLeft {
    width: 100%;
    position: static;
  }

  .introRight {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .introDetail h2 {
    font-size: var(--font-size-large);
    line-height: 1.5;
  }
}
